@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Champagne & Limousines';
  src: url('../assets/fonts/Champagne\ &\ Limousines.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: 'Champagne & Limousines', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.champagne {
  font-family: 'Champagne & Limousines', sans-serif;
}